<div class="ui container">
  <div class="ui mini stackable inverted borderless menu">
    <a class="item" [routerLink]="['/movies']">Browse</a>

    <div class="right menu">
      <div class="ui search item">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search movie..." />
          <i class="search link icon"></i>
        </div>
      </div>
      <ng-container *ngIf="fireAuth.user | async as user; else showSignIn">
        <div class="ui right dropdown item" tabindex="0" id="user-dropdown">
          Hello {{ fireAuth.auth.currentUser.displayName }}
          <i class="dropdown icon"></i>
          <div class="menu left transition hidden" tabindex="-1">
            <a class="item" (click)="logout()">Sign Out</a>
          </div>
        </div>
      </ng-container>
      <ng-template #showSignIn>
        <a class="item" id="loginLink" (click)="login()">Sign In</a>
      </ng-template>
    </div>
  </div>

  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
